<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h2>Начисление процентов после закрытия аккаунта</h2>
  </div>

  <div class="large-12 cell">
    <table>
      <thead>
      <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Сумма на вкладе</th>
      </tr>
      </thead>
      <tbody>
      <% @info.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value[:name] %></td>
          <td><%= value[:patronymic] %></td>
          <td><%= (value[:sum]).round(3) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="large-12 cell">
      <a href="<%= bank_path %>" class="button">Назад в меню</a>
    </div>
  </div>
</div>