<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-10">
      <div class="callout">
        <ul class="menu simple">
          <li>Автор: Анна Целикова ИВТ-22БО</li>
        </ul>
      </div>
      <h3>Банковское приложение <small> 06.06.2020 </small></h3>
      <p></p>
      <h4>Задача №12:</h4>
      <p>Написать программу, моделирующую работу с вкладами в банке.</p>
      <p>Сведения о каждом виде вклада: название, годовой процент, возможность пополнения счета. Сведения о каждом вкладчике: фамилия, имя, отчество, номер счета, вид вклада, сумма, дата открытия, ключевое слово, последняя дата начисления процентов. Начальное формирование данных осуществляется из файла (или файлов).</p>
      <p>При начислении процента к текущей сумме вклада добавляется (вклад * годовой процент * количество пройденных дней от последней даты зачисления до текущей даты / дней в году)

        С помощью меню необходимо обеспечить следующие функции:</p>
        <ol>
          <li><a href="<%= new_contributor_path %>">Добавить вкладчика</a></li>
          <p></p>
          <li><a href="<%= new_deposit_path %>">Добавить вклад</a></li>
          <p></p>
          <li><a href="<%= delete_deposit_path %>">Удалить вид вклада с заданной датой. Для всех соответствующих вкладчиков вывести на экран сумму с начисленными процентами и удалить записи из базы.</a></li>
          <p></p>
          <li><a href="<%= close_account_path %>">Закрыть счёт с заданной датой с выплатой процентов: вывести на экран общую сумму и удалить запись из базы.</a></li>
          <p></p>
          <li><a href="<%= addition_path %>">Пополнить счёт, если это возможно, по номеру счета. Для подтверждения спрашивать фамилию и ключевое слово.</a></li>
          <p></p>
          <li><a href="<%= unique_contributors_path %>">Вывести на экран список уникальных вкладчиков, отсортированных по фамилии.</a></li>
          <p></p>
          <li><a href="<%= most_popular_deposit_path %>">Вывести на экран название наиболее популярного вида вклада, его среднюю сумму и последнюю дату открытия.</a></li>
          <p></p>
          <li><a href="<%= compensation_for_interest_path %>">Для заданной даты начислить проценты по всем счетам, у которых с последней даты начисления процентов прошли хотя бы одни сутки, и обновить дату начисления процентов.</a></li>
          <p></p>
        </ol>
      </ol>
    </div>
  </div>
</div>